<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tokaido.firewall</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
    <string>/Users/tomhuda/.rvm/rubies/ruby-1.9.3-p327/bin/ruby /Users/tomhuda/Code/tokaido-bootstrap/firewall/firewall_rules.rb</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TOKAIDO_TMPDIR</key>
    <string>/Users/tomhuda/Code/tokaido-bootstrap/tmp</string>
  </dict>
</dict>
</plist>

