<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tokaido.firewall</string>
	<key>ProgramArguments</key>
	<array>
    <string>TOKAIDO_FIREWALL_COMMAND</string>
    <string>-r</string>
    <string>TOKAIDO_FIREWALL_SETUP</string>
    <string>TOKAIDO_FIREWALL_SCRIPT</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>root</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TOKAIDO_TMPDIR</key>
    <string>TOKAIDO_FIREWALL_TMPDIR</string>
  </dict>
</dict>
</plist>

